#dictionary-list {
  background-color: #27292d;
  padding: 1rem;
}

body {
  color: #dcddde !important;
}

#dictionary-list .dict-name {
  cursor: pointer;
  display: inline-block;
}

body {
  background-color: #36393f;
}

.definition-listing .card {
  background-color: #27292d;
  border-width: 5px;
  border-color: #36393f;
}

.definition-listing .card .card-header {
  cursor: pointer;
  color: #21a4cb !important;
  padding: 0.2rem;
}

.definition-listing div.card-body {
  background-color: #414141;
  padding: 0.2rem;
}

.definition-row {
  line-height: 1.2em;
  margin: 0.4em;
}

sup superscript {
  top: -0.5em;
}
sub subscript {
  bottom: -0.25em;
}
sub,
subscript,
sup,
superscript {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
