#dictionary-list {
  background-color: #27292d;
  padding: 1rem;
}

body {
  color: #dcddde !important;
  font-size: 1.7em;
}

#dictionary-list {
  flex-wrap: wrap;
}

#dictionary-list label {
  /* remove rounded edges from base style */
  border-radius: 0 !important;
  border: none;
  margin-left: 0 !important;
}

#dictionary-list .selected {
  color: #00feff !important;
}

#dictionary-list .has-search-result {
  color: lightgray;
  background-color: #2e435f;
}
#dictionary-list .has-search-error {
  color: lightgray;
  background-color: #5f2e2e;
}

#dictionary-list .disabled {
  color: black;
  background-color: transparent;
  cursor: default;
}

span[data-word] {
  color: lightgray;
}

span[data-word] > ruby {
  /* words that can be recursively looked up */
  border-bottom-color: darkgray;
  border-bottom-style: outset;
}

span[data-word] :hover {
  color: cyan;
}

span[data-word] > ruby rt {
  /* the furigana are annoying so hide them. They also make the text change size
   which is a bad experience */
  display: none;
}

body {
  background-color: #36393f;
}

.definition-listing .card {
  background-color: #27292d;
  border-width: 5px;
  border-color: #36393f;
}

.definition-listing .card .card-header {
  cursor: pointer;
  color: #21a4cb !important;
  padding: 0.2rem;
}

.card-header nav i {
  font-size: 1.5em;
}

.definition-listing div.card-body {
  background-color: #414141;
  padding: 0.2rem;
}

.definition-listing .definition-row {
  line-height: 1.2em;
  margin: 0.4em;
}

sup superscript {
  top: -0.5em;
}
sub subscript {
  bottom: -0.25em;
}
sub,
subscript,
sup,
superscript {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* recursive lookups */
.recursive-lookup .modal-content {
  background-color: #27292d;
  border-radius: 5px;
}

.recursive-lookup .modal-content .modal-body {
  padding: 0;
  max-height: 83vh;
  overflow-y: auto;
}

#version-indicator {
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: x-small;
}

/* export */
#export .card {
  background-color: #27292d;
  max-height: 50vh;
  overflow: auto;
  color: gray;
}

#definition-preview {
  overflow: overlay;
}

#definition-preview mark {
  background-color: inherit;
}

#definition-preview .card-text {
  font-size: smaller;
  line-height: 2rem;
}

#definition-preview .definition-row {
  margin-top: 0;
  margin-bottom: 0;
}

#export .external-sites {
  font-size: 80%;
}

#export .external-sites a {
  color: lightgray;
}
